In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('E:/data/Ebook.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,NaN,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,NaN,NaN,75

In [40]:
df.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,True,False
5,False,False,True,True,True,True,True,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,True,True,True,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,True,False
10,False,False,False,False,False,True,True,False
11,False,False,False,False,True,False,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,True,True,True,True,False,False
15,False,False,False,False,False,False,False,False
16,False,False,True,True,True,True,True,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False
36,False,True,False,False,False,False,False,False
37,False,True,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False
39,False,False,False,False,True,False,False,False
40,False,False,False,False,True,False,False,False
41,False,False,False,False,True,False,False,False
42,False,False,False,False,True,False,False,False
43,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False

In [41]:
df.isnull().sum()

gender                         0
race/ethnicity                 2
parental level of education    3
lunch                          3
test preparation course        9
math score                     7
reading score                  7
writing score                  0
dtype: int64

In [42]:
df.dropna(how = 'all')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
6,female,group B,some college,standard,completed,88.0,95.0,92
8,male,group D,high school,free/reduced,completed,64.0,64.0,67
12,female,group B,high school,standard,none,65.0,33.0,73
13,male,group A,some college,standard,completed,78.0,72.0,70
15,female,group C,some high school,standard,none,69.0,75.0,78
17,female,group B,some high school,free/reduced,none,18.0,32.0,28
18,male,group C,master's degree,free/reduced,completed,90.0,42.0,50
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61
21,female,group B,some college,free/reduced,completed,65.0,75.0,70
22,male,group D,some college,standard,none,44.0,54.0,53
23,female,group C,some high school,standard,none,69.0,73.0,73
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72
26,male,group B,some college,standard,none,69.0,54.0,55
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75
28,male,group C,high school,standard,none,70.0,70.0,65
29,female,group D,master's degree,standard,none,62.0,70.0,75
30,female,group D,some college,standard,none,69.0,74.0,74
31,female,group B,some college,standard,none,63.0,65.0,61
32,female,group E,master's degree,free/reduced,none,56.0,72.0,65
33,male,group D,some college,standard,none,40.0,42.0,38
34,male,group E,some college,standard,none,97.0,87.0,82
35,male,asfafcacv,associate's degree,standard,completed,81.0,81.0,79
38,female,group D,associate's degree,free/reduced,completed,75.0,90.0,88
43,male,group B,some college,free/reduced,completed,59.0,65.0,22
44,female,none,associate's degree,free/reduced,none,50.0,56.0,22
45,male,group B,associate's degree,standard,none,65.0,54.0,57
46,female,group A,associate's degree,standard,completed,55.0,65.0,62
47,female,group C,high school,standard,none,66.0,71.0,76

In [43]:
df.dropna(axis=1)

    gender  writing score
0   female             74
1   female             88
2   female             93
3     male             44
4     male             75
5   female             55
6   female             92
7     male             39
8     male             67
9   female             50
10    male             52
11    male             43
12  female             73
13    male             70
14  female             58
15  female             78
16    male             80
17  female             28
18    male             50
19  female             61
20    male             63
21  female             70
22    male             53
23  female             73
24    male             80
25    male             72
26    male             55
27  female             75
28    male             65
29  female             75
30  female             74
31  female             61
32  female             65
33    male             38
34    male             82
35    male             79
36  female             83
37  female             59
38  female             88
39    male             57
40    male             54
41  female             68
42  female             65
43    male             22
44  female             22
45    male             57
46  female             62
47  female             76

In [44]:
df.dropna(thresh = 4)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,NaN,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,NaN,NaN,75
6,female,group B,some college,standard,completed,88.0,95.0,92
7,male,group B,some college,free/reduced,NaN,NaN,NaN,39
8,male,group D,high school,free/reduced,completed,64.0,64.0,67
9,female,group B,high school,free/reduced,none,38.0,NaN,50
10,male,group C,associate's degree,standard,none,NaN,NaN,52
11,male,group D,associate's degree,standard,NaN,40.0,52.0,43
12,female,group B,high school,standard,none,65.0,33.0,73
13,male,group A,some college,standard,completed,78.0,72.0,70
14,female,group A,NaN,NaN,NaN,NaN,53.0,58
15,female,group C,some high school,standard,none,69.0,75.0,78
17,female,group B,some high school,free/reduced,none,18.0,32.0,28
18,male,group C,master's degree,free/reduced,completed,90.0,42.0,50
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61
20,male,group D,high school,standard,none,66.0,NaN,63
21,female,group B,some college,free/reduced,completed,65.0,75.0,70
22,male,group D,some college,standard,none,44.0,54.0,53
23,female,group C,some high school,standard,none,69.0,73.0,73
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72
26,male,group B,some college,standard,none,69.0,54.0,55
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75
28,male,group C,high school,standard,none,70.0,70.0,65
29,female,group D,master's degree,standard,none,62.0,70.0,75
30,female,group D,some college,standard,none,69.0,74.0,74
31,female,group B,some college,standard,none,63.0,65.0,61
32,female,group E,master's degree,free/reduced,none,56.0,72.0,65
33,male,group D,some college,standard,none,40.0,42.0,38
34,male,group E,some college,standard,none,97.0,87.0,82
35,male,asfafcacv,associate's degree,standard,completed,81.0,81.0,79
36,female,NaN,associate's degree,standard,none,74.0,81.0,83
37,female,NaN,some high school,free/reduced,none,50.0,64.0,59
38,female,group D,associate's degree,free/reduced,completed,75.0,90.0,88
39,male,group B,associate's degree,free/reduced,NaN,57.0,56.0,57
40,male,group C,associate's degree,free/reduced,NaN,55.0,61.0,54
41,female,group C,associate's degree,standard,NaN,58.0,73.0,68
42,female,group B,associate's degree,standard,NaN,53.0,58.0,65
43,male,group B,some college,free/reduced,completed,59.0,65.0,22
44,female,none,associate's degree,free/reduced,none,50.0,56.0,22
45,male,group B,associate's degree,standard,none,65.0,54.0,57
46,female,group A,associate's degree,standard,completed,55.0,65.0,62
47,female,group C,high school,standard,none,66.0,71.0,76

In [45]:
df.dropna(thresh = 4 , axis=1)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,NaN,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,NaN,NaN,75
5,female,group B,NaN,NaN,NaN,NaN,NaN,55
6,female,group B,some college,standard,completed,88.0,95.0,92
7,male,group B,some college,free/reduced,NaN,NaN,NaN,39
8,male,group D,high school,free/reduced,completed,64.0,64.0,67
9,female,group B,high school,free/reduced,none,38.0,NaN,50
10,male,group C,associate's degree,standard,none,NaN,NaN,52
11,male,group D,associate's degree,standard,NaN,40.0,52.0,43
12,female,group B,high school,standard,none,65.0,33.0,73
13,male,group A,some college,standard,completed,78.0,72.0,70
14,female,group A,NaN,NaN,NaN,NaN,53.0,58
15,female,group C,some high school,standard,none,69.0,75.0,78
16,male,group C,NaN,NaN,NaN,NaN,NaN,80
17,female,group B,some high school,free/reduced,none,18.0,32.0,28
18,male,group C,master's degree,free/reduced,completed,90.0,42.0,50
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61
20,male,group D,high school,standard,none,66.0,NaN,63
21,female,group B,some college,free/reduced,completed,65.0,75.0,70
22,male,group D,some college,standard,none,44.0,54.0,53
23,female,group C,some high school,standard,none,69.0,73.0,73
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72
26,male,group B,some college,standard,none,69.0,54.0,55
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75
28,male,group C,high school,standard,none,70.0,70.0,65
29,female,group D,master's degree,standard,none,62.0,70.0,75
30,female,group D,some college,standard,none,69.0,74.0,74
31,female,group B,some college,standard,none,63.0,65.0,61
32,female,group E,master's degree,free/reduced,none,56.0,72.0,65
33,male,group D,some college,standard,none,40.0,42.0,38
34,male,group E,some college,standard,none,97.0,87.0,82
35,male,asfafcacv,associate's degree,standard,completed,81.0,81.0,79
36,female,NaN,associate's degree,standard,none,74.0,81.0,83
37,female,NaN,some high school,free/reduced,none,50.0,64.0,59
38,female,group D,associate's degree,free/reduced,completed,75.0,90.0,88
39,male,group B,associate's degree,free/reduced,NaN,57.0,56.0,57
40,male,group C,associate's degree,free/reduced,NaN,55.0,61.0,54
41,female,group C,associate's degree,standard,NaN,58.0,73.0,68
42,female,group B,associate's degree,standard,NaN,53.0,58.0,65
43,male,group B,some college,free/reduced,completed,59.0,65.0,22
44,female,none,associate's degree,free/reduced,none,50.0,56.0,22
45,male,group B,associate's degree,standard,none,65.0,54.0,57
46,female,group A,associate's degree,standard,completed,55.0,65.0,62
47,female,group C,high school,standard,none,66.0,71.0,76

In [50]:
df.drop(47)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,NaN,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,NaN,NaN,75
5,female,group B,NaN,NaN,NaN,NaN,NaN,55
6,female,group B,some college,standard,completed,88.0,95.0,92
7,male,group B,some college,free/reduced,NaN,NaN,NaN,39
8,male,group D,high school,free/reduced,completed,64.0,64.0,67
9,female,group B,high school,free/reduced,none,38.0,NaN,50
10,male,group C,associate's degree,standard,none,NaN,NaN,52
11,male,group D,associate's degree,standard,NaN,40.0,52.0,43
12,female,group B,high school,standard,none,65.0,33.0,73
13,male,group A,some college,standard,completed,78.0,72.0,70
14,female,group A,NaN,NaN,NaN,NaN,53.0,58
15,female,group C,some high school,standard,none,69.0,75.0,78
16,male,group C,NaN,NaN,NaN,NaN,NaN,80
17,female,group B,some high school,free/reduced,none,18.0,32.0,28
18,male,group C,master's degree,free/reduced,completed,90.0,42.0,50
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61
20,male,group D,high school,standard,none,66.0,NaN,63
21,female,group B,some college,free/reduced,completed,65.0,75.0,70
22,male,group D,some college,standard,none,44.0,54.0,53
23,female,group C,some high school,standard,none,69.0,73.0,73
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72
26,male,group B,some college,standard,none,69.0,54.0,55
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75
28,male,group C,high school,standard,none,70.0,70.0,65
29,female,group D,master's degree,standard,none,62.0,70.0,75
30,female,group D,some college,standard,none,69.0,74.0,74
31,female,group B,some college,standard,none,63.0,65.0,61
32,female,group E,master's degree,free/reduced,none,56.0,72.0,65
33,male,group D,some college,standard,none,40.0,42.0,38
34,male,group E,some college,standard,none,97.0,87.0,82
35,male,asfafcacv,associate's degree,standard,completed,81.0,81.0,79
36,female,NaN,associate's degree,standard,none,74.0,81.0,83
37,female,NaN,some high school,free/reduced,none,50.0,64.0,59
38,female,group D,associate's degree,free/reduced,completed,75.0,90.0,88
39,male,group B,associate's degree,free/reduced,NaN,57.0,56.0,57
40,male,group C,associate's degree,free/reduced,NaN,55.0,61.0,54
41,female,group C,associate's degree,standard,NaN,58.0,73.0,68
42,female,group B,associate's degree,standard,NaN,53.0,58.0,65
43,male,group B,some college,free/reduced,completed,59.0,65.0,22
44,female,none,associate's degree,free/reduced,none,50.0,56.0,22
45,male,group B,associate's degree,standard,none,65.0,54.0,57
46,female,group A,associate's degree,standard,completed,55.0,65.0,62

In [51]:
df['writing score'].duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
20    False
21     True
22    False
23     True
24     True
25    False
26     True
27     True
28    False
29     True
30     True
31     True
32     True
33    False
34    False
35    False
36    False
37    False
38     True
39    False
40    False
41    False
42     True
43    False
44     True
45     True
46    False
47    False
Name: writing score, dtype: bool

In [53]:
df.drop_duplicates(['writing score'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,NaN,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,NaN,NaN,75
5,female,group B,NaN,NaN,NaN,NaN,NaN,55
6,female,group B,some college,standard,completed,88.0,95.0,92
7,male,group B,some college,free/reduced,NaN,NaN,NaN,39
8,male,group D,high school,free/reduced,completed,64.0,64.0,67
9,female,group B,high school,free/reduced,none,38.0,NaN,50
10,male,group C,associate's degree,standard,none,NaN,NaN,52
11,male,group D,associate's degree,standard,NaN,40.0,52.0,43
12,female,group B,high school,standard,none,65.0,33.0,73
13,male,group A,some college,standard,completed,78.0,72.0,70
14,female,group A,NaN,NaN,NaN,NaN,53.0,58
15,female,group C,some high school,standard,none,69.0,75.0,78
16,male,group C,NaN,NaN,NaN,NaN,NaN,80
17,female,group B,some high school,free/reduced,none,18.0,32.0,28
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61
20,male,group D,high school,standard,none,66.0,NaN,63
22,male,group D,some college,standard,none,44.0,54.0,53
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72
28,male,group C,high school,standard,none,70.0,70.0,65
33,male,group D,some college,standard,none,40.0,42.0,38
34,male,group E,some college,standard,none,97.0,87.0,82
35,male,asfafcacv,associate's degree,standard,completed,81.0,81.0,79
36,female,NaN,associate's degree,standard,none,74.0,81.0,83
37,female,NaN,some high school,free/reduced,none,50.0,64.0,59
39,male,group B,associate's degree,free/reduced,NaN,57.0,56.0,57
40,male,group C,associate's degree,free/reduced,NaN,55.0,61.0,54
41,female,group C,associate's degree,standard,NaN,58.0,73.0,68
43,male,group B,some college,free/reduced,completed,59.0,65.0,22
46,female,group A,associate's degree,standard,completed,55.0,65.0,62
47,female,group C,high school,standard,none,66.0,71.0,76