In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('E:/data/Ebook.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,NaN,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,NaN,NaN,75

In [5]:
df.fillna("missing")

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,missing,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,missing,missing,75
5,female,group B,missing,missing,missing,missing,missing,55
6,female,group B,some college,standard,completed,88.0,95.0,92
7,male,group B,some college,free/reduced,missing,missing,missing,39
8,male,group D,high school,free/reduced,completed,64.0,64.0,67
9,female,group B,high school,free/reduced,none,38.0,missing,50
10,male,group C,associate's degree,standard,none,missing,missing,52
11,male,group D,associate's degree,standard,missing,40.0,52.0,43
12,female,group B,high school,standard,none,65.0,33.0,73
13,male,group A,some college,standard,completed,78.0,72.0,70
14,female,group A,missing,missing,missing,missing,53.0,58
15,female,group C,some high school,standard,none,69.0,75.0,78
16,male,group C,missing,missing,missing,missing,missing,80
17,female,group B,some high school,free/reduced,none,18.0,32.0,28
18,male,group C,master's degree,free/reduced,completed,90.0,42.0,50
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61
20,male,group D,high school,standard,none,66.0,missing,63
21,female,group B,some college,free/reduced,completed,65.0,75.0,70
22,male,group D,some college,standard,none,44.0,54.0,53
23,female,group C,some high school,standard,none,69.0,73.0,73
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72
26,male,group B,some college,standard,none,69.0,54.0,55
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75
28,male,group C,high school,standard,none,70.0,70.0,65
29,female,group D,master's degree,standard,none,62.0,70.0,75
30,female,group D,some college,standard,none,69.0,74.0,74
31,female,group B,some college,standard,none,63.0,65.0,61
32,female,group E,master's degree,free/reduced,none,56.0,72.0,65
33,male,group D,some college,standard,none,40.0,42.0,38
34,male,group E,some college,standard,none,97.0,87.0,82
35,male,asfafcacv,associate's degree,standard,completed,81.0,81.0,79
36,female,missing,associate's degree,standard,none,74.0,81.0,83
37,female,missing,some high school,free/reduced,none,50.0,64.0,59
38,female,group D,associate's degree,free/reduced,completed,75.0,90.0,88
39,male,group B,associate's degree,free/reduced,missing,57.0,56.0,57
40,male,group C,associate's degree,free/reduced,missing,55.0,61.0,54
41,female,group C,associate's degree,standard,missing,58.0,73.0,68
42,female,group B,associate's degree,standard,missing,53.0,58.0,65
43,male,group B,some college,free/reduced,completed,59.0,65.0,22
44,female,none,associate's degree,free/reduced,none,50.0,56.0,22
45,male,group B,associate's degree,standard,none,65.0,54.0,57
46,female,group A,associate's degree,standard,completed,55.0,65.0,62
47,female,group C,high school,standard,none,66.0,71.0,76

In [6]:
df.fillna(0)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,0.0,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,0.0,0.0,75
5,female,group B,0,0,0,0.0,0.0,55
6,female,group B,some college,standard,completed,88.0,95.0,92
7,male,group B,some college,free/reduced,0,0.0,0.0,39
8,male,group D,high school,free/reduced,completed,64.0,64.0,67
9,female,group B,high school,free/reduced,none,38.0,0.0,50
10,male,group C,associate's degree,standard,none,0.0,0.0,52
11,male,group D,associate's degree,standard,0,40.0,52.0,43
12,female,group B,high school,standard,none,65.0,33.0,73
13,male,group A,some college,standard,completed,78.0,72.0,70
14,female,group A,0,0,0,0.0,53.0,58
15,female,group C,some high school,standard,none,69.0,75.0,78
16,male,group C,0,0,0,0.0,0.0,80
17,female,group B,some high school,free/reduced,none,18.0,32.0,28
18,male,group C,master's degree,free/reduced,completed,90.0,42.0,50
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61
20,male,group D,high school,standard,none,66.0,0.0,63
21,female,group B,some college,free/reduced,completed,65.0,75.0,70
22,male,group D,some college,standard,none,44.0,54.0,53
23,female,group C,some high school,standard,none,69.0,73.0,73
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72
26,male,group B,some college,standard,none,69.0,54.0,55
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75
28,male,group C,high school,standard,none,70.0,70.0,65
29,female,group D,master's degree,standard,none,62.0,70.0,75
30,female,group D,some college,standard,none,69.0,74.0,74
31,female,group B,some college,standard,none,63.0,65.0,61
32,female,group E,master's degree,free/reduced,none,56.0,72.0,65
33,male,group D,some college,standard,none,40.0,42.0,38
34,male,group E,some college,standard,none,97.0,87.0,82
35,male,asfafcacv,associate's degree,standard,completed,81.0,81.0,79
36,female,0,associate's degree,standard,none,74.0,81.0,83
37,female,0,some high school,free/reduced,none,50.0,64.0,59
38,female,group D,associate's degree,free/reduced,completed,75.0,90.0,88
39,male,group B,associate's degree,free/reduced,0,57.0,56.0,57
40,male,group C,associate's degree,free/reduced,0,55.0,61.0,54
41,female,group C,associate's degree,standard,0,58.0,73.0,68
42,female,group B,associate's degree,standard,0,53.0,58.0,65
43,male,group B,some college,free/reduced,completed,59.0,65.0,22
44,female,none,associate's degree,free/reduced,none,50.0,56.0,22
45,male,group B,associate's degree,standard,none,65.0,54.0,57
46,female,group A,associate's degree,standard,completed,55.0,65.0,62
47,female,group C,high school,standard,none,66.0,71.0,76

In [7]:
df['math score'].fillna(0)

0     72.0
1     69.0
2      0.0
3     55.0
4      0.0
5      0.0
6     88.0
7      0.0
8     64.0
9     38.0
10     0.0
11    40.0
12    65.0
13    78.0
14     0.0
15    69.0
16     0.0
17    18.0
18    90.0
19    54.0
20    66.0
21    65.0
22    44.0
23    69.0
24    74.0
25    73.0
26    69.0
27    67.0
28    70.0
29    62.0
30    69.0
31    63.0
32    56.0
33    40.0
34    97.0
35    81.0
36    74.0
37    50.0
38    75.0
39    57.0
40    55.0
41    58.0
42    53.0
43    59.0
44    50.0
45    65.0
46    55.0
47    66.0
Name: math score, dtype: float64

In [8]:
df['lunch'] = df['lunch'].fillna("empty")

In [9]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,NaN,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,NaN,NaN,75
5,female,group B,NaN,empty,NaN,NaN,NaN,55
6,female,group B,some college,standard,completed,88.0,95.0,92
7,male,group B,some college,free/reduced,NaN,NaN,NaN,39
8,male,group D,high school,free/reduced,completed,64.0,64.0,67
9,female,group B,high school,free/reduced,none,38.0,NaN,50
10,male,group C,associate's degree,standard,none,NaN,NaN,52
11,male,group D,associate's degree,standard,NaN,40.0,52.0,43
12,female,group B,high school,standard,none,65.0,33.0,73
13,male,group A,some college,standard,completed,78.0,72.0,70
14,female,group A,NaN,empty,NaN,NaN,53.0,58
15,female,group C,some high school,standard,none,69.0,75.0,78
16,male,group C,NaN,empty,NaN,NaN,NaN,80
17,female,group B,some high school,free/reduced,none,18.0,32.0,28
18,male,group C,master's degree,free/reduced,completed,90.0,42.0,50
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61
20,male,group D,high school,standard,none,66.0,NaN,63
21,female,group B,some college,free/reduced,completed,65.0,75.0,70
22,male,group D,some college,standard,none,44.0,54.0,53
23,female,group C,some high school,standard,none,69.0,73.0,73
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72
26,male,group B,some college,standard,none,69.0,54.0,55
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75
28,male,group C,high school,standard,none,70.0,70.0,65
29,female,group D,master's degree,standard,none,62.0,70.0,75
30,female,group D,some college,standard,none,69.0,74.0,74
31,female,group B,some college,standard,none,63.0,65.0,61
32,female,group E,master's degree,free/reduced,none,56.0,72.0,65
33,male,group D,some college,standard,none,40.0,42.0,38
34,male,group E,some college,standard,none,97.0,87.0,82
35,male,asfafcacv,associate's degree,standard,completed,81.0,81.0,79
36,female,NaN,associate's degree,standard,none,74.0,81.0,83
37,female,NaN,some high school,free/reduced,none,50.0,64.0,59
38,female,group D,associate's degree,free/reduced,completed,75.0,90.0,88
39,male,group B,associate's degree,free/reduced,NaN,57.0,56.0,57
40,male,group C,associate's degree,free/reduced,NaN,55.0,61.0,54
41,female,group C,associate's degree,standard,NaN,58.0,73.0,68
42,female,group B,associate's degree,standard,NaN,53.0,58.0,65
43,male,group B,some college,free/reduced,completed,59.0,65.0,22
44,female,none,associate's degree,free/reduced,none,50.0,56.0,22
45,male,group B,associate's degree,standard,none,65.0,54.0,57
46,female,group A,associate's degree,standard,completed,55.0,65.0,62
47,female,group C,high school,standard,none,66.0,71.0,76

In [10]:
df['math score'].mean()

62.97560975609756

In [11]:
df['math score'].fillna(df['math score'].mean())

0     72.00000
1     69.00000
2     62.97561
3     55.00000
4     62.97561
5     62.97561
6     88.00000
7     62.97561
8     64.00000
9     38.00000
10    62.97561
11    40.00000
12    65.00000
13    78.00000
14    62.97561
15    69.00000
16    62.97561
17    18.00000
18    90.00000
19    54.00000
20    66.00000
21    65.00000
22    44.00000
23    69.00000
24    74.00000
25    73.00000
26    69.00000
27    67.00000
28    70.00000
29    62.00000
30    69.00000
31    63.00000
32    56.00000
33    40.00000
34    97.00000
35    81.00000
36    74.00000
37    50.00000
38    75.00000
39    57.00000
40    55.00000
41    58.00000
42    53.00000
43    59.00000
44    50.00000
45    65.00000
46    55.00000
47    66.00000
Name: math score, dtype: float64

In [12]:
df.fillna(df.mean())

C:\Users\ABDELR~1\AppData\Local\Temp/ipykernel_14468/634187881.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.00000,72.000000,74
1,female,group C,some college,standard,completed,69.00000,90.000000,88
2,female,group B,master's degree,standard,none,62.97561,95.000000,93
3,male,ssssssss,associate's degree,free/reduced,none,55.00000,57.000000,44
4,male,group B,some college,standard,none,62.97561,66.219512,75
5,female,group B,NaN,empty,NaN,62.97561,66.219512,55
6,female,group B,some college,standard,completed,88.00000,95.000000,92
7,male,group B,some college,free/reduced,NaN,62.97561,66.219512,39
8,male,group D,high school,free/reduced,completed,64.00000,64.000000,67
9,female,group B,high school,free/reduced,none,38.00000,66.219512,50
10,male,group C,associate's degree,standard,none,62.97561,66.219512,52
11,male,group D,associate's degree,standard,NaN,40.00000,52.000000,43
12,female,group B,high school,standard,none,65.00000,33.000000,73
13,male,group A,some college,standard,completed,78.00000,72.000000,70
14,female,group A,NaN,empty,NaN,62.97561,53.000000,58
15,female,group C,some high school,standard,none,69.00000,75.000000,78
16,male,group C,NaN,empty,NaN,62.97561,66.219512,80
17,female,group B,some high school,free/reduced,none,18.00000,32.000000,28
18,male,group C,master's degree,free/reduced,completed,90.00000,42.000000,50
19,female,group C,associate's degree,free/reduced,none,54.00000,58.000000,61
20,male,group D,high school,standard,none,66.00000,66.219512,63
21,female,group B,some college,free/reduced,completed,65.00000,75.000000,70
22,male,group D,some college,standard,none,44.00000,54.000000,53
23,female,group C,some high school,standard,none,69.00000,73.000000,73
24,male,group D,bachelor's degree,free/reduced,completed,74.00000,71.000000,80
25,male,group A,master's degree,free/reduced,none,73.00000,74.000000,72
26,male,group B,some college,standard,none,69.00000,54.000000,55
27,female,group C,bachelor's degree,standard,none,67.00000,69.000000,75
28,male,group C,high school,standard,none,70.00000,70.000000,65
29,female,group D,master's degree,standard,none,62.00000,70.000000,75
30,female,group D,some college,standard,none,69.00000,74.000000,74
31,female,group B,some college,standard,none,63.00000,65.000000,61
32,female,group E,master's degree,free/reduced,none,56.00000,72.000000,65
33,male,group D,some college,standard,none,40.00000,42.000000,38
34,male,group E,some college,standard,none,97.00000,87.000000,82
35,male,asfafcacv,associate's degree,standard,completed,81.00000,81.000000,79
36,female,NaN,associate's degree,standard,none,74.00000,81.000000,83
37,female,NaN,some high school,free/reduced,none,50.00000,64.000000,59
38,female,group D,associate's degree,free/reduced,completed,75.00000,90.000000,88
39,male,group B,associate's degree,free/reduced,NaN,57.00000,56.000000,57
40,male,group C,associate's degree,free/reduced,NaN,55.00000,61.000000,54
41,female,group C,associate's degree,standard,NaN,58.00000,73.000000,68
42,female,group B,associate's degree,standard,NaN,53.00000,58.000000,65
43,male,group B,some college,free/reduced,completed,59.00000,65.000000,22
44,female,none,associate's degree,free/reduced,none,50.00000,56.000000,22
45,male,group B,associate's degree,standard,none,65.00000,54.000000,57
46,female,group A,associate's degree,standard,completed,55.00000,65.000000,62
47,female,group C,high school,standard,none,66.00000,71.000000,76

In [13]:
df['math score'].interpolate()

0     72.0
1     69.0
2     62.0
3     55.0
4     66.0
5     77.0
6     88.0
7     76.0
8     64.0
9     38.0
10    39.0
11    40.0
12    65.0
13    78.0
14    73.5
15    69.0
16    43.5
17    18.0
18    90.0
19    54.0
20    66.0
21    65.0
22    44.0
23    69.0
24    74.0
25    73.0
26    69.0
27    67.0
28    70.0
29    62.0
30    69.0
31    63.0
32    56.0
33    40.0
34    97.0
35    81.0
36    74.0
37    50.0
38    75.0
39    57.0
40    55.0
41    58.0
42    53.0
43    59.0
44    50.0
45    65.0
46    55.0
47    66.0
Name: math score, dtype: float64

In [16]:
df.fillna(method='ffill')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,69.0,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,55.0,57.0,75
5,female,group B,some college,empty,none,55.0,57.0,55
6,female,group B,some college,standard,completed,88.0,95.0,92
7,male,group B,some college,free/reduced,completed,88.0,95.0,39
8,male,group D,high school,free/reduced,completed,64.0,64.0,67
9,female,group B,high school,free/reduced,none,38.0,64.0,50
10,male,group C,associate's degree,standard,none,38.0,64.0,52
11,male,group D,associate's degree,standard,none,40.0,52.0,43
12,female,group B,high school,standard,none,65.0,33.0,73
13,male,group A,some college,standard,completed,78.0,72.0,70
14,female,group A,some college,empty,completed,78.0,53.0,58
15,female,group C,some high school,standard,none,69.0,75.0,78
16,male,group C,some high school,empty,none,69.0,75.0,80
17,female,group B,some high school,free/reduced,none,18.0,32.0,28
18,male,group C,master's degree,free/reduced,completed,90.0,42.0,50
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61
20,male,group D,high school,standard,none,66.0,58.0,63
21,female,group B,some college,free/reduced,completed,65.0,75.0,70
22,male,group D,some college,standard,none,44.0,54.0,53
23,female,group C,some high school,standard,none,69.0,73.0,73
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72
26,male,group B,some college,standard,none,69.0,54.0,55
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75
28,male,group C,high school,standard,none,70.0,70.0,65
29,female,group D,master's degree,standard,none,62.0,70.0,75
30,female,group D,some college,standard,none,69.0,74.0,74
31,female,group B,some college,standard,none,63.0,65.0,61
32,female,group E,master's degree,free/reduced,none,56.0,72.0,65
33,male,group D,some college,standard,none,40.0,42.0,38
34,male,group E,some college,standard,none,97.0,87.0,82
35,male,asfafcacv,associate's degree,standard,completed,81.0,81.0,79
36,female,asfafcacv,associate's degree,standard,none,74.0,81.0,83
37,female,asfafcacv,some high school,free/reduced,none,50.0,64.0,59
38,female,group D,associate's degree,free/reduced,completed,75.0,90.0,88
39,male,group B,associate's degree,free/reduced,completed,57.0,56.0,57
40,male,group C,associate's degree,free/reduced,completed,55.0,61.0,54
41,female,group C,associate's degree,standard,completed,58.0,73.0,68
42,female,group B,associate's degree,standard,completed,53.0,58.0,65
43,male,group B,some college,free/reduced,completed,59.0,65.0,22
44,female,none,associate's degree,free/reduced,none,50.0,56.0,22
45,male,group B,associate's degree,standard,none,65.0,54.0,57
46,female,group A,associate's degree,standard,completed,55.0,65.0,62
47,female,group C,high school,standard,none,66.0,71.0,76

In [17]:
df.fillna(method='bfill')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,completed,69.0,90.0,88
2,female,group B,master's degree,standard,none,55.0,95.0,93
3,male,ssssssss,associate's degree,free/reduced,none,55.0,57.0,44
4,male,group B,some college,standard,none,88.0,95.0,75
5,female,group B,some college,empty,completed,88.0,95.0,55
6,female,group B,some college,standard,completed,88.0,95.0,92
7,male,group B,some college,free/reduced,completed,64.0,64.0,39
8,male,group D,high school,free/reduced,completed,64.0,64.0,67
9,female,group B,high school,free/reduced,none,38.0,52.0,50
10,male,group C,associate's degree,standard,none,40.0,52.0,52
11,male,group D,associate's degree,standard,none,40.0,52.0,43
12,female,group B,high school,standard,none,65.0,33.0,73
13,male,group A,some college,standard,completed,78.0,72.0,70
14,female,group A,some high school,empty,none,69.0,53.0,58
15,female,group C,some high school,standard,none,69.0,75.0,78
16,male,group C,some high school,empty,none,18.0,32.0,80
17,female,group B,some high school,free/reduced,none,18.0,32.0,28
18,male,group C,master's degree,free/reduced,completed,90.0,42.0,50
19,female,group C,associate's degree,free/reduced,none,54.0,58.0,61
20,male,group D,high school,standard,none,66.0,75.0,63
21,female,group B,some college,free/reduced,completed,65.0,75.0,70
22,male,group D,some college,standard,none,44.0,54.0,53
23,female,group C,some high school,standard,none,69.0,73.0,73
24,male,group D,bachelor's degree,free/reduced,completed,74.0,71.0,80
25,male,group A,master's degree,free/reduced,none,73.0,74.0,72
26,male,group B,some college,standard,none,69.0,54.0,55
27,female,group C,bachelor's degree,standard,none,67.0,69.0,75
28,male,group C,high school,standard,none,70.0,70.0,65
29,female,group D,master's degree,standard,none,62.0,70.0,75
30,female,group D,some college,standard,none,69.0,74.0,74
31,female,group B,some college,standard,none,63.0,65.0,61
32,female,group E,master's degree,free/reduced,none,56.0,72.0,65
33,male,group D,some college,standard,none,40.0,42.0,38
34,male,group E,some college,standard,none,97.0,87.0,82
35,male,asfafcacv,associate's degree,standard,completed,81.0,81.0,79
36,female,group D,associate's degree,standard,none,74.0,81.0,83
37,female,group D,some high school,free/reduced,none,50.0,64.0,59
38,female,group D,associate's degree,free/reduced,completed,75.0,90.0,88
39,male,group B,associate's degree,free/reduced,completed,57.0,56.0,57
40,male,group C,associate's degree,free/reduced,completed,55.0,61.0,54
41,female,group C,associate's degree,standard,completed,58.0,73.0,68
42,female,group B,associate's degree,standard,completed,53.0,58.0,65
43,male,group B,some college,free/reduced,completed,59.0,65.0,22
44,female,none,associate's degree,free/reduced,none,50.0,56.0,22
45,male,group B,associate's degree,standard,none,65.0,54.0,57
46,female,group A,associate's degree,standard,completed,55.0,65.0,62
47,female,group C,high school,standard,none,66.0,71.0,76